prefer-no-csd

spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

environment {
    DISPLAY ":1"
}

layout {
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }


    default-column-width { proportion 0.5; }


    focus-ring {
	off
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 10
        offset x=0 y=10
        color "#0007"
    }
    struts {
    }
}


screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}



binds {

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Alt+Mod+T hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+R hotkey-overlay-title="Launch a program" { spawn "rofi" "-show" "drun"; }

    // basic window controls
    Mod+Q repeat=false {close-window;}
    Mod+V { focus-column-right; }
    Mod+C { focus-column-left; }
    Mod+F { focus-window-up; }
    Mod+D { focus-window-down; }

    Ctrl+Mod+V { move-column-right; }
    Ctrl+Mod+C { move-column-left; }
    Ctrl+Mod+F { move-window-up; }
    Ctrl+Mod+D { move-window-down; }
    Alt+Mod+D { move-window-up; }
    Alt+Mod+S { move-window-down; }
    Alt+Mod+C { consume-or-expel-window-left; }
    Alt+Mod+V { consume-or-expel-window-right; }
    Ctrl+Mod+W      { toggle-window-floating; }
    Mod+W { switch-focus-between-floating-and-tiling; }
    Mod+A repeat=false { toggle-overview; }

    Mod+WheelScrollUp {focus-column-right;}
    Mod+WheelScrollDown {focus-column-left;}
    Mod+Z {focus-workspace-down;}
    Mod+X {focus-workspace-up;}
    Ctrl+Mod+Z {move-column-to-workspace-down;}
    Ctrl+Mod+X {move-column-to-workspace-up;}

 
}

